*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

html {
    position: relative;
}

body {
    background: #23272F;
    /* min-height: 100vh; */
    /* width: 100%; */
    
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid-container {
    /* min-height: 100vh; */
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    gap: 20px;
    background: #292D36;
    padding: 30px;
    border-radius: 20px 20px 0 0;
}

.grid-container button {
    cursor: pointer;
    outline: none;    
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: #23272F;
    opacity: 0.95;
}

.grid-container button:hover {
    background-color: #23272F;
    opacity: 1;
    filter: brightness(150%);
}
.top-signs {
    color: #9DFFF9 ;
}

.left-signs {
    color: #fff;
}
.right-signs {
    color: #EB5A47;
}

#undo-sign {
    transform: scaleY(-1) rotate(270deg);
}

.span-two {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    background-color: #292D36;
    word-wrap: break-word;
    word-break: break-all;
}

.display .previous-display {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.display .current-display {
    color: white;
    font-size: 2rem;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 20px;
    color: #fff;
}